!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom", "xmlns:content" => "http://purl.org/rss/1.0/modules/content/", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:slash" => "http://purl.org/rss/1.0/modules/slash/", "xmlns:sy" => "http://purl.org/rss/1.0/modules/syndication/", "xmlns:wfw" => "http://wellformedweb.org/CommentAPI/"}
  %channel
    %title Fluxus » portraits
    %atom:link{:href => "http://inthe.me/demo/fluxus/tag/portraits/feed/", :rel => "self", :type => "application/rss+xml"}/
    = succeed "http://inthe.me/demo/fluxus" do
      %link/
    %description portfolio theme for creatives
    %lastbuilddate Sun, 04 May 2014 19:51:50 +0000
    %language en-US
    %sy:updateperiod hourly
    %sy:updatefrequency 1
    %generator http://wordpress.org/?v=3.9.2
    %item
      %title Portrait Gallery
      = succeed "http://inthe.me/demo/fluxus/portrait-gallery/" do
        %link/
      %comments http://inthe.me/demo/fluxus/portrait-gallery/#comments
      %pubdate Mon, 03 Dec 2012 17:23:07 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Photography
      %category
        :cdata
          portraits
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=278
      %description
        :cdata
          Nunc convallis ante at mi scelerisque quis cursus risus auctor. Sed hendrerit malesuada risus, sit amet porta magna blandit in. Mauris bibendum interdum nisl vitae scelerisque. Suspendisse lectus nisi, volutpat id tincidunt eu, bibendum mollis dolor.<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/portrait-gallery/">Continue reading</a></div>
      %content:encoded
        :cdata
          <p>Nunc convallis ante at mi scelerisque quis cursus risus auctor. Sed hendrerit malesuada risus, sit amet porta magna blandit in. Mauris bibendum interdum nisl vitae scelerisque. Suspendisse lectus nisi, volutpat id tincidunt eu, bibendum mollis dolor.</p>
          
          <a href='http://inthe.me/demo/fluxus/portrait-gallery/00-2/'><img width="500" height="500" src="http://js.inthe.me/demo/fluxus/wp-content/uploads/2012/12/00-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="00" /></a>
          <a href='http://inthe.me/demo/fluxus/portrait-gallery/000-3/'><img width="500" height="500" src="http://js2.inthe.me/demo/fluxus/wp-content/uploads/2012/12/0001-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="000" /></a>
          <a href='http://inthe.me/demo/fluxus/portrait-gallery/beautiful-fashion-woman-portrait-bw-image-2/'><img width="500" height="500" src="http://css.inthe.me/demo/fluxus/wp-content/uploads/2012/12/photodune-2939727-beautiful-fashion-woman-portrait-bw-image-l-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="Beautiful fashion woman portrait. B/W Image" /></a>
          <a href='http://inthe.me/demo/fluxus/portrait-gallery/red-hair-fashion-girl-portrait-2/'><img width="500" height="500" src="http://js.inthe.me/demo/fluxus/wp-content/uploads/2012/12/photodune-3027487-red-hair-fashion-girl-portrait-l-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="Red Hair. Fashion Girl Portrait" /></a>
      %wfw:commentrss http://inthe.me/demo/fluxus/portrait-gallery/feed/
      %slash:comments 0
/ Served from: inthe.me @ 2014-08-30 04:38:15 by W3 Total Cache
