!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom", "xmlns:content" => "http://purl.org/rss/1.0/modules/content/", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:slash" => "http://purl.org/rss/1.0/modules/slash/", "xmlns:sy" => "http://purl.org/rss/1.0/modules/syndication/", "xmlns:wfw" => "http://wellformedweb.org/CommentAPI/"}
  %channel
    %title Fluxus » Ideas
    %atom:link{:href => "http://inthe.me/demo/fluxus/category/ideas/feed/", :rel => "self", :type => "application/rss+xml"}/
    = succeed "http://inthe.me/demo/fluxus" do
      %link/
    %description portfolio theme for creatives
    %lastbuilddate Sun, 04 May 2014 19:51:50 +0000
    %language en-US
    %sy:updateperiod hourly
    %sy:updatefrequency 1
    %generator http://wordpress.org/?v=3.9.2
    %item
      %title Link Post Format
      = succeed "http://inthe.me/demo/fluxus/link/" do
        %link/
      %comments http://inthe.me/demo/fluxus/link/#comments
      %pubdate Mon, 03 Dec 2012 16:59:36 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Ideas
      %category
        :cdata
          Post Formats
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=251
      %description
        :cdata
          Nullam eu nunc convallis nisl accumsan varius. Maecenas fermentum sem nec augue hendrerit et dictum dolor bibendum. Suspendisse luctus magna a lorem auctor bibendum. Mauris vel placerat felis. Nam at varius tortor. Sed non orci nec libero tempus fermentum sed quis arcu. Mauris quis erat ante, nec pellentesque nisi. Quisque &amp;#8230;<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/link/">Continue reading</a></div>
      %content:encoded
        :cdata
          <p>Nullam eu nunc convallis nisl accumsan varius. Maecenas fermentum sem nec augue hendrerit et dictum dolor bibendum. Suspendisse luctus magna a lorem auctor bibendum. Mauris vel placerat felis. Nam at varius tortor. Sed non orci nec libero tempus fermentum sed quis arcu. Mauris quis erat ante, nec pellentesque nisi.</p>
          <p>Quisque viverra lectus pretium nibh auctor facilisis. Cras sed est rutrum odio elementum cursus id et odio. Proin eu lobortis urna. Suspendisse non leo erat. Fusce gravida metus a urna lacinia quis molestie urna congue. Aliquam in sapien ut massa tincidunt pretium ac id nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas lorem ipsum, porta et dictum et, bibendum non metus.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/link/feed/
      %slash:comments 0
/ Served from: inthe.me @ 2014-08-30 04:38:03 by W3 Total Cache
