!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom", "xmlns:content" => "http://purl.org/rss/1.0/modules/content/", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:slash" => "http://purl.org/rss/1.0/modules/slash/", "xmlns:sy" => "http://purl.org/rss/1.0/modules/syndication/", "xmlns:wfw" => "http://wellformedweb.org/CommentAPI/"}
  %channel
    %title Fluxus » Article
    %atom:link{:href => "http://inthe.me/demo/fluxus/category/article/feed/", :rel => "self", :type => "application/rss+xml"}/
    = succeed "http://inthe.me/demo/fluxus" do
      %link/
    %description portfolio theme for creatives
    %lastbuilddate Sun, 04 May 2014 19:51:50 +0000
    %language en-US
    %sy:updateperiod hourly
    %sy:updatefrequency 1
    %generator http://wordpress.org/?v=3.9.2
    %item
      %title Post without featured image
      = succeed "http://inthe.me/demo/fluxus/post-without-featured-image/" do
        %link/
      %comments http://inthe.me/demo/fluxus/post-without-featured-image/#comments
      %pubdate Mon, 03 Dec 2012 09:26:02 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Article
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=285
      %description
        :cdata
          Nunc convallis ante at mi scelerisque quis cursus risus auctor. Sed hendrerit malesuada risus, sit amet porta magna blandit in. Mauris bibendum interdum nisl vitae scelerisque. Suspendisse lectus nisi, volutpat id tincidunt eu, bibendum mollis dolor. Integer euismod, urna ac euismod tristique, nisi erat pellentesque tortor, non molestie massa diam &amp;#8230;<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/post-without-featured-image/">Continue reading</a></div>
      %content:encoded
        :cdata
          <p>Nunc convallis ante at mi scelerisque quis cursus risus auctor. Sed hendrerit malesuada risus, sit amet porta magna blandit in. Mauris bibendum interdum nisl vitae scelerisque. Suspendisse lectus nisi, volutpat id tincidunt eu, bibendum mollis dolor. Integer euismod, urna ac euismod tristique, nisi erat pellentesque tortor, non molestie massa diam vel augue. Donec nulla purus, dictum non semper eu, euismod vel nulla. Morbi non purus quis ligula tempus placerat et et purus. Nam lacus eros, sollicitudin at malesuada vel, faucibus id tortor. Proin iaculis felis eget est elementum posuere.</p>
          <p>Maecenas vitae semper neque. Curabitur commodo neque sed diam vulputate id tincidunt nulla ultricies. Quisque interdum pharetra fringilla. Etiam ac facilisis quam. Duis bibendum odio vel eros adipiscing at luctus dui tempor. Ut et arcu erat, nec pellentesque ligula. Fusce in turpis ligula, in viverra lectus. Curabitur purus velit, pretium posuere lobortis vulputate, convallis sed orci. Etiam eleifend lacus dictum risus placerat sollicitudin. Suspendisse ante dui, imperdiet in adipiscing sed, pellentesque quis leo. Proin porta eleifend tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut rutrum, tellus at cursus posuere, nisl quam vehicula erat, quis pharetra tellus lectus eget risus.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/post-without-featured-image/feed/
      %slash:comments 0
/ Served from: inthe.me @ 2014-08-30 04:38:02 by W3 Total Cache
