!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom", "xmlns:content" => "http://purl.org/rss/1.0/modules/content/", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:slash" => "http://purl.org/rss/1.0/modules/slash/", "xmlns:sy" => "http://purl.org/rss/1.0/modules/syndication/", "xmlns:wfw" => "http://wellformedweb.org/CommentAPI/"}
  %channel
    %title Fluxus » Blog Features
    %atom:link{:href => "http://inthe.me/demo/fluxus/category/blog-features/feed/", :rel => "self", :type => "application/rss+xml"}/
    = succeed "http://inthe.me/demo/fluxus" do
      %link/
    %description portfolio theme for creatives
    %lastbuilddate Sun, 04 May 2014 19:51:50 +0000
    %language en-US
    %sy:updateperiod hourly
    %sy:updatefrequency 1
    %generator http://wordpress.org/?v=3.9.2
    %item
      %title Pretty Posts
      = succeed "http://inthe.me/demo/fluxus/pretty-blog-posts/" do
        %link/
      %comments http://inthe.me/demo/fluxus/pretty-blog-posts/#comments
      %pubdate Mon, 03 Dec 2012 17:27:39 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Blog Features
      %category
        :cdata
          features
      %category
        :cdata
          sample content
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=198
      %description
        :cdata
          Fluxus blog posts comes with big images and nicely crafted typography. Check out this one as an example.<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/pretty-blog-posts/">Continue reading</a></div>
      %content:encoded
        :cdata
          <div class="standfirst">
          <p>This is a standard blog post with a featured image. Content area is limited to 70% of the available width, making the text easily readable. The white space on the right can be used to include extra notes or images. Check the demo content below to see how it looks.</p>
          </div>
          <h1>Demo Content</h1>
          <p><aside class="aside-content"><div class="position-absolute">Content pushed to the side. Useful for adding extra notes or small images.</p>
          <p><img class="aligncenter size-full wp-image-618" alt="deer" src="http://css.inthe.me/demo/fluxus/wp-content/uploads/2012/12/deer.jpg?fcbd44" width="200" height="290" /></div></aside>Suspendisse vel mauris ornare nulla auctor interdum. Nullam nisl tellus, accumsan interdum egestas at, ultrices sed est. Etiam eget vulputate nisi. Phasellus consequat, ante a euismod placerat, eros mauris viverra felis, sed mollis arcu metus semper urna.</p>
          <p>Aliquam at arcu dui, vitae iaculis mi. Praesent lobortis ante eu nisl sagittis elementum fermentum tellus molestie. Morbi viverra ornare arcu, sed tristique justo aliquam sit amet. Aliquam at arcu dui, vitae iaculis mi. Praesent lobortis ante eu nisl sagittis elementum fermentum tellus molestie. Morbi viverra ornare arcu, sed tristique justo aliquam sit amet.</p>
          <h1>Images</h1>
          <p>Aliquam at arcu dui, vitae iaculis mi. Praesent lobortis ante eu nisl sagittis elementum fermentum tellus molestie. Morbi viverra ornare arcu, sed tristique justo aliquam sit amet. Aliquam at arcu dui, vitae iaculis mi.</p>
          <p>Etiam et elementum dui. Pellentesque rhoncus, dui ut luctus tempor, lacus mi sollicitudin lacus, sit amet convallis mauris purus ac justo. Suspendisse vel mauris ornare nulla auctor interdum. Sed tincidunt arcu nec tortor feugiat sit amet fermentum dolor aliquet.</p>
          <p>In dictum blandit metus, ornare pulvinar est dapibus id. Pellentesque mollis, enim in blandit ullamcorper, libero nulla vulputate mauris, eu varius nunc dolor sit amet massa. Suspendisse nec lectus eros, sed gravida odio.</p>
          <div id="attachment_205" class="wp-caption alignright"><a href="http://css.inthe.me/demo/fluxus/wp-content/uploads/2012/12/portrait.jpg?fcbd44" class="link-to-image"><img class="size-medium wp-image-205" alt="Image Desciption." src="http://js2.inthe.me/demo/fluxus/wp-content/uploads/2012/12/portrait-300x300.jpg?fcbd44" width="300" height="300" /></a><p class="wp-caption-text">Image Desciption.</p></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum suscipit ipsum, eu ultrices magna varius ut. Donec velit urna, pellentesque in porta et, tempor nec massa. Quisque in dignissim odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          <p>Praesent vel arcu augue. Etiam et elementum dui. Pellentesque rhoncus, dui ut luctus tempor, lacus mi sollicitudin lacus, sit amet convallis mauris purus ac justo. Suspendisse vel mauris ornare nulla auctor interdum. Sed tincidunt arcu nec tortor feugiat sit amet fermentum dolor aliquet. In dictum blandit metus, ornare pulvinar est dapibus id. Pellentesque mollis, enim in blandit ullamcorper, libero nulla vulputate mauris, eu varius nunc dolor sit amet massa. Suspendisse nec lectus eros, sed gravida odio.</p>
          <p>Etiam et elementum dui. Pellentesque rhoncus, dui ut luctus tempor, lacus mi sollicitudin lacus, sit amet convallis mauris purus ac justo. Suspendisse vel mauris ornare nulla auctor interdum. Sed tincidunt arcu nec tortor feugiat sit amet fermentum dolor aliquet.</p>
          <p>In dictum blandit metus, ornare pulvinar est dapibus id. Pellentesque mollis, enim in blandit ullamcorper, libero nulla vulputate mauris, eu varius nunc dolor sit amet massa. Suspendisse nec lectus eros, sed gravida odio.</p>
          <div id="attachment_209" class="wp-caption alignnone"><a href="http://js3.inthe.me/demo/fluxus/wp-content/uploads/2012/12/portrait-2.jpg?fcbd44" class="link-to-image"><img class="size-large wp-image-209 " title="Red Hair. Fashion Girl Portrait" alt="" src="http://js3.inthe.me/demo/fluxus/wp-content/uploads/2012/12/portrait-2-1024x682.jpg?fcbd44" width="640" height="426" /></a><p class="wp-caption-text">Big portrait.</p></div>
          <p>Quisque egestas mauris non urna mattis a commodo eros cursus. Mauris ut ullamcorper felis. Duis malesuada ipsum ut ante consectetur tempor. Cras diam leo, tempor vel hendrerit ac, cursus ac risus. Fusce in sapien nisl, sit amet iaculis ante. Sed ultrices condimentum aliquam. Fusce fermentum posuere bibendum. Pellentesque dapibus auctor odio, eu semper dolor laoreet ut. Aenean in est sit amet dolor volutpat consequat. Donec enim nisl, ullamcorper a bibendum a, laoreet non sapien.</p>
          <p>Pellentesque rhoncus, dui ut luctus tempor, lacus mi sollicitudin lacus, sit amet convallis mauris purus ac justo. Suspendisse vel mauris ornare nulla auctor interdum.</p>
          <p>Image aligned to the left.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi elit, venenatis id pretium commodo, accumsan eget ligula. Ut erat dui, tristique et tincidunt vitae, tristique nec mauris.</p>
          <p>Duis a sem mauris, nec consequat neque. Sed ac feugiat augue. Aliquam sit amet nisl non quam iaculis cursus a at urna. Aenean sem turpis, mollis blandit tempor at, condimentum vel lorem. Vivamus lacus risus, sollicitudin sed consequat in, tincidunt nec turpis. Donec molestie massa eu felis feugiat commodo.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/pretty-blog-posts/feed/
      %slash:comments 3
/ Served from: inthe.me @ 2014-08-30 04:38:02 by W3 Total Cache
