!!!
%html.upscale.horizontal-page.horizontal-posts{:lang => "en-US"}
  / Mirrored from inthe.me/demo/fluxus/author/intheme/page/2/ by HTTrack Website Copier/3.x [XR&amp;CO'2014], Sat, 30 Aug 2014 04:38:22 GMT
  / Added by HTTrack
  %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
  / /Added by HTTrack
  %head
    :javascript
      var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title intheme &mdash; Fluxus &mdash; Page 2
    %script{"data-customer" => "f382e3ea3c9b45dda3c02a1229cf15b3", :src => "http://dl1d2m8ri9v3j.cloudfront.net/releases/1.2.5/tracker.js?fcbd44", :type => "text/javascript"}
    %link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
    %link{:href => "../../../../xmlrpc.php", :rel => "pingback"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Merriweather", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="http://inthe.me/demo/fluxus/wp-content/themes/fluxus/js/html5.js?fcbd44" type="text/javascript"></script>
      <link rel="stylesheet" href="http://inthe.me/demo/fluxus/wp-content/themes/fluxus/css/ie.css?fcbd44" type="text/css" media="all" />
      <script type="text/javascript">window.oldie = true;</script>
    %link{:href => "../../../../feed/index.html", :rel => "alternate", :title => "Fluxus &raquo; Feed", :type => "application/rss+xml"}/
    %link{:href => "../../../../comments/feed/index.html", :rel => "alternate", :title => "Fluxus &raquo; Comments Feed", :type => "application/rss+xml"}/
    %link{:href => "../../feed/index.html", :rel => "alternate", :title => "Fluxus &raquo; Posts by intheme Feed", :type => "application/rss+xml"}/
    %link#contact-form-7-css{:href => "../../../../wp-content/plugins/contact-form-7/includes/css/styles61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-global-css{:href => "../../../../wp-content/themes/fluxus/css/global61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-grid-css{:href => "../../../../wp-content/themes/fluxus/css/grid61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fontello-icons-css{:href => "../../../../wp-content/themes/fluxus/css/fontello61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#style-css{:href => "../../../../wp-content/themes/fluxus/style61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-responsive-css{:href => "../../../../wp-content/themes/fluxus/css/responsive61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-skin-css{:href => "../../../../wp-content/themes/fluxus/css/skins/light61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-customizer-css{:href => "http://js.inthe.me/demo/fluxus/wp-content/uploads/fluxus-customize.css?ver=20140518215228", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-user-css{:href => "../../../../wp-content/themes/fluxus/user61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#intheme-customizer-css{:href => "../../../../wp-content/plugins/fluxus-customizer/css/style61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#intheme-customizer-color-stylesheet-css{:href => "../../../../wp-content/themes/fluxus/css/skins/light61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "../../../../wp-includes/js/jquery/jquery61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-includes/js/jquery/jquery-migrate.min61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/plugins/fluxus-customizer/js/script61ae.js?fcbd44", :type => "text/javascript"}
    %link{:href => "../../../../xmlrpc0db0.php?rsd", :rel => "EditURI", :title => "RSD", :type => "application/rsd+xml"}/
    %link{:href => "../../../../wp-includes/wlwmanifest.xml", :rel => "wlwmanifest", :type => "application/wlwmanifest+xml"}/
    %meta{:content => "WordPress 3.9.2", :name => "generator"}/
    %meta{:content => "Fluxus is a magazine inspired portfolio theme. More than 3000 photographers, artists and creatives uses Fluxus to showcase their work.", :property => "og:description"}/
    %meta{:content => "http://js.inthe.me/demo/fluxus/wp-content/uploads/2014/05/fluxus-fb.jpg?fcbd44", :property => "og:image"}/
    %link{:href => "http://js2.inthe.me/demo/fluxus/wp-content/uploads/2014/05/favicon1.png?fcbd44", :rel => "shortcut icon"}/
  %body.archive.paged.author.author-intheme.author-1.paged-2.author-paged-2
    #page-wrapper
      %header#header.clearfix
        %hgroup
          %h1.site-title
            %a{:href => "../../../../index.html", :rel => "home", :title => "Fluxus"}
              %span.default-logo
          %h2.site-description portfolio theme for creatives
        .site-navigation{"data-menu" => "Menu"}
          %nav.primary-navigation
            %ul#menu-main-menu.menu
              %li#menu-item-9.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-9
                %a{:href => "../../../../index.html"} Homepage
                %ul.sub-menu
                  %li#menu-item-10.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-10
                    %a{:href => "../../../../index.html"} Slideshow Homepage
                  %li#menu-item-445.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-445
                    %a{:href => "../../../../homepage/hello-homepage/index.html"} “Hello” Homepage
                  %li#menu-item-39.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-39
                    %a{:href => "../../../../homepage/portfolio-homepage/index.html"} Portfolio Homepage
              %li#menu-item-120.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-120
                %a{:href => "../../../../portfolio/index.html"} Portfolio
                %ul.sub-menu
                  %li#menu-item-122.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-122
                    %a{:href => "../../../../portfolio/index.html"} Horizontal Portfolio
                  %li#menu-item-121.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-121
                    %a{:href => "../../../../grid-portfolio/index.html"} Grid Portfolio
                    %ul.sub-menu
                      %li#menu-item-556.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-556
                        %a{:href => "../../../../grid-portfolio/index.html"} Vertical Grid
                      %li#menu-item-555.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-555
                        %a{:href => "../../../../grid-portfolio/horizontal-grid/index.html"} Horizontal Grid
                      %li#menu-item-554.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-554
                        %a{:href => "../../../../grid-portfolio/fixed-aspect-ratio-grid/index.html"} Fixed Aspect Ratio Grid
                      %li#menu-item-5676.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-5676
                        %a{:href => "../../../../flexible-sizes-grid/index.html"} Flexible Sizes Grid
              %li#menu-item-194.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-194
                %a{:href => "../../../../blog/index.html"} Blog
                %ul.sub-menu
                  %li#menu-item-5581.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-5581
                    %a{:href => "../../../../blog/index.html"} Vertical Layout
                  %li#menu-item-5580.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-5580
                    %a{:href => "../../../../horizontal-blog/index.html"} Horizontal Layout
              %li#menu-item-131.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-131
                %a{:href => "../../../../features/index.html"} Features
                %ul.sub-menu
                  %li#menu-item-308.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-308
                    %a{:href => "../../../../404.html"} 404
                  %li#menu-item-133.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-133
                    %a{:href => "../../../../features/accordion/index.html"} Accordion
                  %li#menu-item-132.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-132
                    %a{:href => "../../../../features/alerts/index.html"} Alerts
                  %li#menu-item-142.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-142
                    %a{:href => "../../../../features/buttons/index.html"} Buttons
                  %li#menu-item-141.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-141
                    %a{:href => "../../../../features/columns/index.html"} Columns
                  %li#menu-item-511.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-511
                    %a{:href => "../../../../features/full-width/index.html"} Full Width
                  %li#menu-item-189.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-189
                    %a{:href => "../../../../features/gallery/index.html"} Gallery
                  %li#menu-item-162.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-162
                    %a{:href => "../../../../features/lists/index.html"} Lists
                  %li#menu-item-161.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-161
                    %a{:href => "../../../../features/services/index.html"} Services
                  %li#menu-item-329.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-329
                    %a{:href => "../../../../features/skins/index.html"} Skins
                  %li#menu-item-160.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-160
                    %a{:href => "../../../../features/social-icons/index.html"} Social Icons
                  %li#menu-item-175.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-175
                    %a{:href => "../../../../features/table/index.html"} Table
                  %li#menu-item-174.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-174
                    %a{:href => "../../../../features/tab/index.html"} Tabs
                  %li#menu-item-173.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-173
                    %a{:href => "../../../../features/typography/index.html"} Typography
          %nav.secondary-navigation
            %ul#menu-secondary-menu.menu
              %li#menu-item-14.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-14
                %a{:href => "../../../../contacts-with-map/index.html"} Contacts
                %ul.sub-menu
                  %li#menu-item-76.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-76
                    %a{:href => "../../../../contacts-with-map/index.html"} Contacts with Map
                  %li#menu-item-75.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-75
                    %a{:href => "../../../../contacts-with-map/contacts-with-image/index.html"} Contacts with Image
      #fluxus-customize
        %a#fluxus-customize-toggle{:href => "#"}
        %h2 Choose style
        #color-stylesheet.customizer-control.control-stylesheet{"data-uri" => "http://inthe.me/demo/fluxus/wp-content/themes/fluxus"}
          %a.active.set-stylesheet{"data-value" => "/css/skins/light.css", :href => "#"}
            Light
          %a.set-stylesheet{"data-value" => "/css/skins/dark.css", :href => "#"}
            Dark
      #main.site.site-with-sidebar
        #content.site-content
          .horizontal-content
            .horizontal-item
              %article#post-272.post-272.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-photography.tag-black-and-white.tag-inspiring.post-with-media.post-with-featured-image
                %a.thumbnail{:href => "../../../../sunset/index.html", :title => "Read more about Sunset"}
                  %img.resizable{:alt => "", :height => "328", :src => "http://js2.inthe.me/demo/fluxus/wp-content/uploads/2012/12/212-e1355321552927.jpg?fcbd44", :width => "328"}/
                .text-contents
                  %header.entry-header
                    %h1.entry-title
                      %a{:href => "../../../../sunset/index.html", :title => "Permalink to Sunset"}
                        Sunset
                    %time.entry-date{:datetime => "2012-12-03T17:17:23+00:00", :pubdate => ""} Dec 3
                  .entry-summary
                    %p
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum porttitor elit nec vehicula. Sed luctus sapien at odio consequat viverra. Nam in nulla orci, scelerisque consectetur purus. Nam ac magna libero. Nullam porta placerat sapien.
                    .wrap-excerpt-more
                      %a.excerpt-more{:href => "../../../../sunset/index.html"} Continue reading
            .horizontal-item
              %article#post-243.post-243.post.type-post.status-publish.format-video.hentry.category-post-formats.post-with-media.post-without-featured-image
                .wrap-embed-video
                  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "320", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/34608191?title=0&amp;byline=0&amp;portrait=0", :webkitallowfullscreen => "", :width => "569"}
                .text-contents
                  %header.entry-header
                    %h1.entry-title
                      %a{:href => "../../../../video-post/index.html", :title => "Permalink to Video Post"}
                        Video Post
                    %time.entry-date{:datetime => "2012-12-03T17:05:13+00:00", :pubdate => ""} Dec 3
                  .entry-summary
                    %p This theme supports embedding YouTube, Vimeo and other videos into your blog posts. Just in case want to showcase some motion.
            .horizontal-item
              %article#post-251.post-251.post.type-post.status-publish.format-link.hentry.category-ideas.category-post-formats.post-with-media.post-without-featured-image
                .post-link.resizable
                  .js-vertical-center
                    %a{:href => "http://www.themeforest.net/", :target => "_blank"}
                      themeforest.net
                    %p This theme is available for purchase at ThemeForest.
                .text-contents
                  %header.entry-header
                    %h1.entry-title
                      %a{:href => "../../../../link/index.html", :title => "Permalink to Link Post Format"}
                        Link Post Format
                    %time.entry-date{:datetime => "2012-12-03T16:59:36+00:00", :pubdate => ""} Dec 3
                  .entry-summary
                    %p
                      Nullam eu nunc convallis nisl accumsan varius. Maecenas fermentum sem nec augue hendrerit et dictum dolor bibendum. Suspendisse luctus magna a lorem auctor bibendum. Mauris vel placerat felis. Nam at varius tortor. Sed non orci nec libero tempus fermentum sed quis arcu. Mauris quis erat ante, nec pellentesque nisi. Quisque &hellip;
                    .wrap-excerpt-more
                      %a.excerpt-more{:href => "../../../../link/index.html"} Continue reading
            %nav.navigation-paging
              .js-vertical-center
                .status
                  %p page
                  %h5 2 / 4
                .paging
                  %a.button-minimal.button-icon-left.icon-left-open-big.button-newer{:href => "../../index.html"} Newer entries
                  %a.button-minimal.button-icon-right.icon-right-open-big.button-older{:href => "../3/index.html"} Older entries
                  %p jump to page
                  .wrap-page-numbers
                    %a.page-numbers{:href => "../1/index.html"} 1
                    %span.page-numbers.current 2
                    %a.page-numbers{:href => "../3/index.html"} 3
                    %a.page-numbers{:href => "../4/index.html"} 4
        .sidebar.sidebar-general.widget-area
          .scroll-container
            .scrollbar
              .track
                .thumb
                  .end
            .viewport
              .overview
                %hgroup.archive-results-hgroup
                  %h2.subtitle Author Archives
                  %h1.title intheme
                %aside#text-2.widget.widget_text
                  .decoration
                  %h1.widget-title About this blog
                  .textwidget Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt, mauris at tristique posuere, tortor purus aliquam diam, vitae laoreet libero eros a orci.
                %aside#categories-2.widget.widget_categories
                  .decoration
                  %h1.widget-title Categories
                  %ul
                    %li.cat-item.cat-item-23
                      %a{:href => "../../../../category/article/index.html", :title => "View all posts filed under Article"} Article
                    %li.cat-item.cat-item-30
                      %a{:href => "../../../../category/blog-features/index.html", :title => "View all posts filed under Blog Features"} Blog Features
                    %li.cat-item.cat-item-12
                      %a{:href => "../../../../category/ideas/index.html", :title => "View all posts filed under Ideas"} Ideas
                    %li.cat-item.cat-item-5
                      %a{:href => "../../../../category/photography/index.html", :title => "View all posts filed under Photography"} Photography
                    %li.cat-item.cat-item-18
                      %a{:href => "../../../../category/post-formats/index.html", :title => "View all posts filed under Post Formats"} Post Formats
                %aside#search-4.widget.widget_search
                  %form#searchform{:action => "http://inthe.me/demo/fluxus/", :method => "get", :role => "search"}
                    %label.assistive-text{:for => "s"} Search
                    %input#s.field{:name => "s", :placeholder => "Search &hellip;", :type => "text", :value => ""}/
                    %input#searchsubmit.submit{:name => "submit", :type => "submit", :value => "Search"}/
                %aside#archives-5.widget.widget_archive
                  .decoration
                  %h1.widget-title Archives
                  %ul
                    %li
                      %a{:href => "../../../../2012/12/index.html"} December 2012
      #footer-push
    / #page-wrapper
    %footer#footer
      .footer-inner.clearfix
        #sharrre-footer.sharrre{"data-buttons-title" => "Share this page", "data-curl" => "http://inthe.me/demo/fluxus/wp-content/themes/fluxus/lib/sharrre.php", "data-services" => "facebook,facebookShare,twitter,googlePlus", "data-title" => "Share", "data-url" => "http://inthe.me/demo/fluxus/sunset/"}
        .social-networks
          %a.icon-social.icon-facebook-circled{:href => "http://www.facebook.com/hello.intheme", :rel => "nofollow", :target => "_blank", :title => "Connect on Facebook"}
          %a.icon-social.icon-tumblr-circled{:href => "http://tumblr.com/", :rel => "nofollow", :target => "_blank", :title => "Connect on Tumblr"}
          %a.icon-social.icon-twitter-circled{:href => "http://twitter.com/in_theme", :rel => "nofollow", :target => "_blank", :title => "Connect on Twitter"}
        .footer-links
          %nav.footer-navigation
            %ul#menu-footer-menu.menu
              %li#menu-item-477.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-477
                %a{:href => "../../../../images/index.html"} Images
              %li#menu-item-640.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-640
                %a{:href => "http://themeforest.net/item/fluxus-portfolio-theme-for-photographers/3854385?ref=intheme"} Buy this theme
          .credits © Fluxus Wordpress Theme
        .nav-tip
          Use arrows
          %a#key-left.button-minimal.icon-left-open-mini{:href => "#"}
          %a#key-right.button-minimal.icon-right-open-mini{:href => "#"}
          for navigation
    %script{:src => "../../../../wp-content/plugins/contact-form-7/includes/js/jquery.form.min61ae.js?fcbd44", :type => "text/javascript"}
    :javascript
      /*  */
      var _wpcf7 = {"loaderUrl":"http:\/\/inthe.me\/demo\/fluxus\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ...","cached":"1"};
      /*  */
    %script{:src => "../../../../wp-content/plugins/contact-form-7/includes/js/scripts61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-includes/js/underscore.min61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/themes/fluxus/js/jquery.tinyscrollbar61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/themes/fluxus/js/jquery.sharrre61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/themes/fluxus/js/jquery.transit61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/themes/fluxus/js/utils61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/themes/fluxus/js/jquery.fluxus-grid61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/themes/fluxus/js/jquery.reveal61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/themes/fluxus/js/jquery.fluxus-lightbox61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/themes/fluxus/js/iscroll61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/themes/fluxus/js/jquery.fluxus-slider61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/themes/fluxus/js/main61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../../../wp-content/themes/fluxus/js/user61ae.js?fcbd44", :type => "text/javascript"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3428741-16']);
      _gaq.push(['_setDomainName', 'inthe.me']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :javascript
      if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:")+"//"+"js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-3.newrelic.com","7732b7c631","1942833","bwMEbRQHCkdXBRFfDVZJJ1oSDwtaGQ8LUgdA",0,2341,new Date().getTime(),"","","","",""]);
  / Mirrored from inthe.me/demo/fluxus/author/intheme/page/2/ by HTTrack Website Copier/3.x [XR&amp;CO'2014], Sat, 30 Aug 2014 04:38:22 GMT
/ Served from: inthe.me @ 2014-08-30 04:38:12 by W3 Total Cache
