%html
  / Created by HTTrack Website Copier/3.48-14 [XR&amp;CO'2014]
  / Mirrored from inthe.me/demo/fluxus/blog/page/1/ by HTTrack Website Copier/3.x [XR&amp;CO'2014], Sat, 30 Aug 2014 04:38:16 GMT
  / Added by HTTrack
  %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
  / /Added by HTTrack
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "0; URL=../../index.html", "http-equiv" => "Refresh"}/
    %title Page has moved
  %body
    %a{:href => "../../index.html"}/
    %h3 Click here...
  / Created by HTTrack Website Copier/3.48-14 [XR&amp;CO'2014]
  / Mirrored from inthe.me/demo/fluxus/blog/page/1/ by HTTrack Website Copier/3.x [XR&amp;CO'2014], Sat, 30 Aug 2014 04:38:16 GMT
