!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom", "xmlns:content" => "http://purl.org/rss/1.0/modules/content/", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:slash" => "http://purl.org/rss/1.0/modules/slash/", "xmlns:sy" => "http://purl.org/rss/1.0/modules/syndication/", "xmlns:wfw" => "http://wellformedweb.org/CommentAPI/"}
  %channel
    %title Fluxus » quote
    %atom:link{:href => "http://inthe.me/demo/fluxus/tag/quote/feed/", :rel => "self", :type => "application/rss+xml"}/
    = succeed "http://inthe.me/demo/fluxus" do
      %link/
    %description portfolio theme for creatives
    %lastbuilddate Sun, 04 May 2014 19:51:50 +0000
    %language en-US
    %sy:updateperiod hourly
    %sy:updatefrequency 1
    %generator http://wordpress.org/?v=3.9.2
    %item
      %title Quote by Joe
      = succeed "http://inthe.me/demo/fluxus/quote/" do
        %link/
      %comments http://inthe.me/demo/fluxus/quote/#comments
      %pubdate Mon, 03 Dec 2012 16:58:15 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Post Formats
      %category
        :cdata
          quote
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=247
      %description
        :cdata
          This is quote post format featuring some wise words. The quote is overlaid on top on featured image or over solid color if the featured image is not set.
      %content:encoded
        :cdata
          <p>This is quote post format featuring some wise words. The quote is overlaid on top on featured image or over solid color if the featured image is not set.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/quote/feed/
      %slash:comments 0
    %item
      %title Quote on top of the Image
      = succeed "http://inthe.me/demo/fluxus/quote-on-top-of-the-image/" do
        %link/
      %comments http://inthe.me/demo/fluxus/quote-on-top-of-the-image/#comments
      %pubdate Mon, 03 Dec 2012 16:50:27 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Photography
      %category
        :cdata
          Post Formats
      %category
        :cdata
          quote
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=261
      %description
        :cdata
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et hendrerit metus. Quisque non augue massa. Vivamus nec lacus sit amet diam porta blandit. Nulla ornare quam vitae arcu posuere lobortis. Curabitur imperdiet pellentesque ipsum eget euismod. Nam sagittis pretium vestibulum. Nam gravida, lacus vitae mattis hendrerit, nulla lectus varius &amp;#8230;<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/quote-on-top-of-the-image/">Continue reading</a></div>
      %content:encoded
        :cdata
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et hendrerit metus. Quisque non augue massa. Vivamus nec lacus sit amet diam porta blandit. Nulla ornare quam vitae arcu posuere lobortis. Curabitur imperdiet pellentesque ipsum eget euismod. Nam sagittis pretium vestibulum. Nam gravida, lacus vitae mattis hendrerit, nulla lectus varius metus, eu pretium dui felis eget leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur adipiscing cursus.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/quote-on-top-of-the-image/feed/
      %slash:comments 0
/ Served from: inthe.me @ 2014-08-30 04:38:23 by W3 Total Cache
