
  <div class="post-832 post type-post status-publish format-quote hentry category-uncategorized tag-quote" id="post-832">
    <div class="post-header">
      <blockquote>Post Formats is a theme feature introduced with Version 3.1. A Post Format is a piece of meta info that can be used by a theme to customize its presentation of a post. This is the Quote format.</blockquote>
      <span class="hanger-left"></span>
      <span class="hanger-right"></span>
    </div>
    <div class="entry-header">
      <h2 class="entry-title"></h2>
    </div>
    <div class="entry-content clearfix">
      <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    </div>
    <div class="entry-footer clearfix">
      <span class="entry-permalink">
        <a href="http://demo.themezilla.com/memo/post-formats/">3 years ago</a>
      </span>
      <span class="entry-tags">
        \/  Tagged:
        <a href="http://demo.themezilla.com/memo/tag/quote/" rel="tag">Quote</a>
      </span>
      <span class="entry-like">
        <a class="likeThis" href="#" id="like-832">
          <span class="icon"></span>
          <span class="count">312</span>
        </a>
      </span>
      <span class="entry-comments">
        <a href="http://demo.themezilla.com/memo/post-formats/#comments">3</a>
      </span>
    </div>
  </div>
