<% if @articles %>
  <% @articles.each_with_index do | article , i| %>
    <div class="post-<%=i%> post type-post status-publish format-aside hentry category-uncategorized tag-post-format-aside" id="post-no-photo-<%=i%>">
      <div class="entry-header">
        <h2 class="entry-title"> 
          <%= "#{article[:name]}: #{article[:title]}"  %>
        </h2>
      </div>
      <div class="entry-content clearfix">
        <% article[:content].each do |line| %>
          <%= "#{line}<br>"  %>   
        <% end %>
      </div>  
    </div>
  <% end %>
<% end %>
