%script{:src => "wp-content/plugins/contact-form-7/includes/js/jquery.form.min61ae.js?fcbd44", :type => "text/javascript"}
:javascript
  /* <![CDATA[ */
  var _wpcf7 = {"loaderUrl":"http:\/\/inthe.me\/demo\/fluxus\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ...","cached":"1"};
  /* ]]> */
%script{:src => "wp-content/plugins/contact-form-7/includes/js/scripts61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-includes/js/underscore.min61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/themes/fluxus/js/jquery.tinyscrollbar61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/themes/fluxus/js/jquery.sharrre61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/themes/fluxus/js/jquery.transit61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/themes/fluxus/js/utils61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/themes/fluxus/js/jquery.fluxus-grid61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/themes/fluxus/js/jquery.reveal61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/themes/fluxus/js/jquery.fluxus-lightbox61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/themes/fluxus/js/iscroll61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/themes/fluxus/js/jquery.fluxus-slider61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/themes/fluxus/js/main61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/themes/fluxus/js/user61ae.js?fcbd44", :type => "text/javascript"}
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3428741-16']);
  _gaq.push(['_setDomainName', 'inthe.me']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
:javascript
  if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:")+"//"+"js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-3.newrelic.com","7732b7c631","1942833","bwMEbRQHCkdXBRFfDVZJJ1oSDwtaGRYEUQc=",0,881,new Date().getTime(),"","","","",""]);
