%meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
/ /Added by HTTrack
:javascript
  var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);
%meta{:charset => "UTF-8"}/
%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
%meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
%title Gallery — Fluxus
%script{"data-customer" => "f382e3ea3c9b45dda3c02a1229cf15b3", :src => "http://dl1d2m8ri9v3j.cloudfront.net/releases/1.2.5/tracker.js?fcbd44", :type => "text/javascript"}
%link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
%link{:href => "xmlrpc.php", :rel => "pingback"}/
%link{:href => "http://fonts.googleapis.com/css?family=Merriweather", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}/
/[if lt IE 9]
  <script src="http://inthe.me/demo/fluxus/wp-content/themes/fluxus/js/html5.js?fcbd44" type="text/javascript"></script>
  <link rel="stylesheet" href="http://inthe.me/demo/fluxus/wp-content/themes/fluxus/css/ie.css?fcbd44" type="text/css" media="all" />
  <script type="text/javascript">window.oldie = true;</script>
%link{:href => "feed/index.html", :rel => "alternate", :title => "Fluxus » Feed", :type => "application/rss+xml"}/
%link{:href => "comments/feed/index.html", :rel => "alternate", :title => "Fluxus » Comments Feed", :type => "application/rss+xml"}/
%link#contact-form-7-css{:href => "wp-content/plugins/contact-form-7/includes/css/styles61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#fluxus-global-css{:href => "wp-content/themes/fluxus/css/global61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#fluxus-grid-css{:href => "wp-content/themes/fluxus/css/grid61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#fontello-icons-css{:href => "wp-content/themes/fluxus/css/fontello61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#style-css{:href => "wp-content/themes/fluxus/style61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#fluxus-responsive-css{:href => "wp-content/themes/fluxus/css/responsive61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#fluxus-skin-css{:href => "wp-content/themes/fluxus/css/skins/light61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#fluxus-customizer-css{:href => "http://js.inthe.me/demo/fluxus/wp-content/uploads/fluxus-customize.css?ver=20140518215228", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#fluxus-user-css{:href => "wp-content/themes/fluxus/user61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#intheme-customizer-css{:href => "wp-content/plugins/fluxus-customizer/css/style61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#intheme-customizer-color-stylesheet-css{:href => "wp-content/themes/fluxus/css/skins/light61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "wp-includes/js/jquery/jquery61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-includes/js/jquery/jquery-migrate.min61ae.js?fcbd44", :type => "text/javascript"}
%script{:src => "wp-content/plugins/fluxus-customizer/js/script61ae.js?fcbd44", :type => "text/javascript"}
%link{:href => "xmlrpc0db0.php?rsd", :rel => "EditURI", :title => "RSD", :type => "application/rsd+xml"}/
%link{:href => "wp-includes/wlwmanifest.xml", :rel => "wlwmanifest", :type => "application/wlwmanifest+xml"}/
%meta{:content => "WordPress 3.9.2", :name => "generator"}/
%link{:href => "index.html", :rel => "canonical"}/
%link{:href => "indexb7c7.html?p=177", :rel => "shortlink"}/
%meta{:content => "Fluxus is a magazine inspired portfolio theme. More than 3000 photographers,  and creatives uses Fluxus to showcase their work.", :property => "og:description"}/
