!!!
%html.upscale{:lang => "en-US"}
  / Mirrored from inthe.me/demo/fluxus/features/gallery/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Aug 2014 04:37:19 GMT
  / Added by HTTrack
  %head
    = partial("header_javascripts")
  %body.page.page-id-177.page-child.parent-pageid-124.page-template-default
    #page-wrapper
      %header#header.clearfix
        %hgroup
          %h1.site-title 老頭的影像
        .site-navigation{"data-menu" => "Menu"}
          %nav.primary-navigation
            %ul#menu-main-menu.menu
              %li#menu-item-9.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-9
                %a{:href => "JOseph-1986-01-21.info"} 老頭紀念網站
              %li#menu-item-120.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-120
                %a{:href => "http://4am-lesson.com/joseph_memos"} 留言給老頭

      #main.site.site-with-sidebar
        #content.site-content
          %article#post-177.post-177.page.type-page.status-publish.hentry.post-without-featured-image
            %header.entry-header
              %h1.entry-title Joseph's Gallery
            .entry-content
              %p Eternity Images
              #gallery-1.gallery.galleryid-177.gallery-columns-3.gallery-size-fluxus-gallery-thumbnail.gallery-link-file
                %dl.gallery-item
                  %dt.gallery-icon
                    %a{:href => "http://css.inthe.me/demo/fluxus/wp-content/uploads/2012/11/08.jpg?fcbd44"}
                      %img.attachment-fluxus-gallery-thumbnail{:alt => "08", :height => "500", :src => "http://js2.inthe.me/demo/fluxus/wp-content/uploads/2012/11/08-500x500.jpg?fcbd44", :width => "500"}/
                      %span.gallery-hover
                %dl.gallery-item
                  %dt.gallery-icon
                    %a{:href => "http://js3.inthe.me/demo/fluxus/wp-content/uploads/2012/11/011.jpg?fcbd44"}
                      %img.attachment-fluxus-gallery-thumbnail{:alt => "01", :height => "500", :src => "http://js3.inthe.me/demo/fluxus/wp-content/uploads/2012/11/011-500x500.jpg?fcbd44", :width => "500"}/
                      %span.gallery-hover
                %dl.gallery-item
                  %dt.gallery-icon
                    %a{:href => "http://js2.inthe.me/demo/fluxus/wp-content/uploads/2012/11/21.jpg?fcbd44"}
                      %img.attachment-fluxus-gallery-thumbnail{:alt => "2", :height => "500", :src => "http://js3.inthe.me/demo/fluxus/wp-content/uploads/2012/11/21-500x500.jpg?fcbd44", :width => "500"}/
                      %span.gallery-hover
                %dl.gallery-item
                  %dt.gallery-icon
                    %a{:href => "http://js3.inthe.me/demo/fluxus/wp-content/uploads/2012/11/31.jpg?fcbd44"}
                      %img.attachment-fluxus-gallery-thumbnail{:alt => "3", :height => "500", :src => "http://js3.inthe.me/demo/fluxus/wp-content/uploads/2012/11/31-500x500.jpg?fcbd44", :width => "500"}/
                      %span.gallery-hover
                %dl.gallery-item
                  %dt.gallery-icon
                    %a{:href => "http://js.inthe.me/demo/fluxus/wp-content/uploads/2012/11/122.jpg?fcbd44"}
                      %img.attachment-fluxus-gallery-thumbnail{:alt => "12", :height => "500", :src => "http://js2.inthe.me/demo/fluxus/wp-content/uploads/2012/11/122-500x500.jpg?fcbd44", :width => "500"}/
                      %span.gallery-hover
                %dl.gallery-item
                  %dt.gallery-icon
                    %a{:href => "http://js2.inthe.me/demo/fluxus/wp-content/uploads/2012/11/141.jpg?fcbd44"}
                      %img.attachment-fluxus-gallery-thumbnail{:alt => "14", :height => "500", :src => "http://js2.inthe.me/demo/fluxus/wp-content/uploads/2012/11/141-500x500.jpg?fcbd44", :width => "500"}/
                      %span.gallery-hover
    = partial("footer_javascripts")