!!!
%html.upscale{:lang => "en-US"}
  / Mirrored from inthe.me/demo/fluxus/features/tab/ by HTTrack Website Copier/3.x [XR&amp;CO'2014], Sat, 30 Aug 2014 04:37:24 GMT
  / Added by HTTrack
  %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
  / /Added by HTTrack
  %head
    :javascript
      var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Tabs &mdash; Fluxus
    %script{"data-customer" => "f382e3ea3c9b45dda3c02a1229cf15b3", :src => "http://dl1d2m8ri9v3j.cloudfront.net/releases/1.2.5/tracker.js?fcbd44", :type => "text/javascript"}
    %link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
    %link{:href => "../../xmlrpc.php", :rel => "pingback"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Merriweather", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="http://inthe.me/demo/fluxus/wp-content/themes/fluxus/js/html5.js?fcbd44" type="text/javascript"></script>
      <link rel="stylesheet" href="http://inthe.me/demo/fluxus/wp-content/themes/fluxus/css/ie.css?fcbd44" type="text/css" media="all" />
      <script type="text/javascript">window.oldie = true;</script>
    %link{:href => "../../feed/index.html", :rel => "alternate", :title => "Fluxus &raquo; Feed", :type => "application/rss+xml"}/
    %link{:href => "../../comments/feed/index.html", :rel => "alternate", :title => "Fluxus &raquo; Comments Feed", :type => "application/rss+xml"}/
    %link#contact-form-7-css{:href => "../../wp-content/plugins/contact-form-7/includes/css/styles61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-global-css{:href => "../../wp-content/themes/fluxus/css/global61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-grid-css{:href => "../../wp-content/themes/fluxus/css/grid61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fontello-icons-css{:href => "../../wp-content/themes/fluxus/css/fontello61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#style-css{:href => "../../wp-content/themes/fluxus/style61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-responsive-css{:href => "../../wp-content/themes/fluxus/css/responsive61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-skin-css{:href => "../../wp-content/themes/fluxus/css/skins/light61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-customizer-css{:href => "http://js.inthe.me/demo/fluxus/wp-content/uploads/fluxus-customize.css?ver=20140518215228", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#fluxus-user-css{:href => "../../wp-content/themes/fluxus/user61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#intheme-customizer-css{:href => "../../wp-content/plugins/fluxus-customizer/css/style61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#intheme-customizer-color-stylesheet-css{:href => "../../wp-content/themes/fluxus/css/skins/light61ae.css?fcbd44", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "../../wp-includes/js/jquery/jquery61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-includes/js/jquery/jquery-migrate.min61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/plugins/fluxus-customizer/js/script61ae.js?fcbd44", :type => "text/javascript"}
    %link{:href => "../../xmlrpc0db0.php?rsd", :rel => "EditURI", :title => "RSD", :type => "application/rsd+xml"}/
    %link{:href => "../../wp-includes/wlwmanifest.xml", :rel => "wlwmanifest", :type => "application/wlwmanifest+xml"}/
    %meta{:content => "WordPress 3.9.2", :name => "generator"}/
    %link{:href => "index.html", :rel => "canonical"}/
    %link{:href => "../../index3350.html?p=167", :rel => "shortlink"}/
    %meta{:content => "Fluxus is a magazine inspired portfolio theme. More than 3000 photographers, artists and creatives uses Fluxus to showcase their work.", :property => "og:description"}/
    %meta{:content => "http://js.inthe.me/demo/fluxus/wp-content/uploads/2014/05/fluxus-fb.jpg?fcbd44", :property => "og:image"}/
    %link{:href => "http://js2.inthe.me/demo/fluxus/wp-content/uploads/2014/05/favicon1.png?fcbd44", :rel => "shortcut icon"}/
  %body.page.page-id-167.page-child.parent-pageid-124.page-template-default
    #page-wrapper
      %header#header.clearfix
        %hgroup
          %h1.site-title
            %a{:href => "../../index.html", :rel => "home", :title => "Fluxus"}
              %span.default-logo
          %h2.site-description portfolio theme for creatives
        .site-navigation{"data-menu" => "Menu"}
          %nav.primary-navigation
            %ul#menu-main-menu.menu
              %li#menu-item-9.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-9
                %a{:href => "../../index.html"} Homepage
                %ul.sub-menu
                  %li#menu-item-10.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-10
                    %a{:href => "../../index.html"} Slideshow Homepage
                  %li#menu-item-445.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-445
                    %a{:href => "../../homepage/hello-homepage/index.html"} “Hello” Homepage
                  %li#menu-item-39.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-39
                    %a{:href => "../../homepage/portfolio-homepage/index.html"} Portfolio Homepage
              %li#menu-item-120.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-120
                %a{:href => "../../portfolio/index.html"} Portfolio
                %ul.sub-menu
                  %li#menu-item-122.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-122
                    %a{:href => "../../portfolio/index.html"} Horizontal Portfolio
                  %li#menu-item-121.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-121
                    %a{:href => "../../grid-portfolio/index.html"} Grid Portfolio
                    %ul.sub-menu
                      %li#menu-item-556.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-556
                        %a{:href => "../../grid-portfolio/index.html"} Vertical Grid
                      %li#menu-item-555.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-555
                        %a{:href => "../../grid-portfolio/horizontal-grid/index.html"} Horizontal Grid
                      %li#menu-item-554.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-554
                        %a{:href => "../../grid-portfolio/fixed-aspect-ratio-grid/index.html"} Fixed Aspect Ratio Grid
                      %li#menu-item-5676.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-5676
                        %a{:href => "../../flexible-sizes-grid/index.html"} Flexible Sizes Grid
              %li#menu-item-194.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-194
                %a{:href => "../../blog/index.html"} Blog
                %ul.sub-menu
                  %li#menu-item-5581.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-5581
                    %a{:href => "../../blog/index.html"} Vertical Layout
                  %li#menu-item-5580.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-5580
                    %a{:href => "../../horizontal-blog/index.html"} Horizontal Layout
              %li#menu-item-131.menu-item.menu-item-type-post_type.menu-item-object-page.current-page-ancestor.current-menu-ancestor.current-menu-parent.current-page-parent.current_page_parent.current_page_ancestor.menu-item-has-children.has-children.menu-item-131
                %a{:href => "../index.html"} Features
                %ul.sub-menu
                  %li#menu-item-308.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-308
                    %a{:href => "../../404.html"} 404
                  %li#menu-item-133.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-133
                    %a{:href => "../accordion/index.html"} Accordion
                  %li#menu-item-132.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-132
                    %a{:href => "../alerts/index.html"} Alerts
                  %li#menu-item-142.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-142
                    %a{:href => "../buttons/index.html"} Buttons
                  %li#menu-item-141.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-141
                    %a{:href => "../columns/index.html"} Columns
                  %li#menu-item-511.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-511
                    %a{:href => "../full-width/index.html"} Full Width
                  %li#menu-item-189.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-189
                    %a{:href => "../gallery/index.html"} Gallery
                  %li#menu-item-162.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-162
                    %a{:href => "../lists/index.html"} Lists
                  %li#menu-item-161.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-161
                    %a{:href => "../services/index.html"} Services
                  %li#menu-item-329.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-329
                    %a{:href => "../skins/index.html"} Skins
                  %li#menu-item-160.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-160
                    %a{:href => "../social-icons/index.html"} Social Icons
                  %li#menu-item-175.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-175
                    %a{:href => "../table/index.html"} Table
                  %li#menu-item-174.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-167.current_page_item.menu-item-174
                    %a{:href => "index.html"} Tabs
                  %li#menu-item-173.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-173
                    %a{:href => "../typography/index.html"} Typography
          %nav.secondary-navigation
            %ul#menu-secondary-menu.menu
              %li#menu-item-14.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-children.menu-item-14
                %a{:href => "../../contacts-with-map/index.html"} Contacts
                %ul.sub-menu
                  %li#menu-item-76.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-76
                    %a{:href => "../../contacts-with-map/index.html"} Contacts with Map
                  %li#menu-item-75.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-75
                    %a{:href => "../../contacts-with-map/contacts-with-image/index.html"} Contacts with Image
      #fluxus-customize
        %a#fluxus-customize-toggle{:href => "#"}
        %h2 Choose style
        #color-stylesheet.customizer-control.control-stylesheet{"data-uri" => "http://inthe.me/demo/fluxus/wp-content/themes/fluxus"}
          %a.active.set-stylesheet{"data-value" => "/css/skins/light.css", :href => "#"}
            Light
          %a.set-stylesheet{"data-value" => "/css/skins/dark.css", :href => "#"}
            Dark
      #main.site.site-with-sidebar
        #content.site-content
          %article#post-167.post-167.page.type-page.status-publish.hentry.post-without-featured-image
            %header.entry-header
              %h1.entry-title Tabs
            .entry-content
              .tabs
                %nav.tabs-menu
                  %ul
                    %li.active
                      %a{:href => "#"} First Tab
                    %li
                      %a{:href => "#"} Second Tab
                    %li
                      %a{:href => "#"} Third Tab
                .tabs-content
                  .tab.tab-index-1
                    %p Aenean viverra iaculis posuere. Morbi in nisl orci, et congue est. Sed et sapien lectus. Suspendisse arcu nisi, condimentum vehicula pharetra eu, fermentum quis justo. Suspendisse ac neque id nibh malesuada condimentum. Donec malesuada semper lacus, vitae luctus lacus sodales sed. Vivamus eleifend rhoncus metus, nec euismod neque sodales et.
                  .tab.tab-index-2
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce scelerisque, libero a volutpat pellentesque, erat sapien congue dui, ut viverra massa nulla interdum velit. Aenean rhoncus rutrum leo eget aliquet.
                  .tab.tab-index-3
                    %p Ut vehicula enim at mi auctor fermentum ultricies nunc faucibus. Suspendisse faucibus magna dictum lectus rhoncus accumsan. Pellentesque purus ante, facilisis ut fringilla quis, eleifend id lorem. Integer pellentesque consectetur dapibus. Maecenas dignissim sollicitudin justo, sit amet dignissim odio vulputate ut. Aliquam risus lorem, accumsan iaculis fermentum eu, rutrum sit amet velit. Mauris lacus lorem, viverra sit amet faucibus a, pellentesque non augue.
              %pre
                :preserve
                  [tabs]
                  
                  [tab title="First Tab"]
                  Aenean...
                  [/tab]
                  
                  [tab title="Second Tab"]
                  Lorem ipsum...
                  [/tab]
                  
                  [tab title="Third Tab"]
                  Ut vehicula
                  [/tab]
                  
                  [/tabs]              %p
        .sidebar.sidebar-general.widget-area
          .scroll-container
            .scrollbar
              .track
                .thumb
                  .end
            .viewport
              .overview
                %aside#recent-posts-4.widget.widget_recent_entries
                  .decoration
                  %h1.widget-title Recent Posts
                  %ul
                    %li
                      %a{:href => "../../pretty-blog-posts/index.html"} Pretty Posts
                    %li
                      %a{:href => "../../portrait-gallery/index.html"} Portrait Gallery
                    %li
                      %a{:href => "../../featured-gallery/index.html"} Featured Gallery
                    %li
                      %a{:href => "../../sunset/index.html"} Sunset
                    %li
                      %a{:href => "../../video-post/index.html"} Video Post
                %aside#search-6.widget.widget_search
                  %form#searchform{:action => "http://inthe.me/demo/fluxus/", :method => "get", :role => "search"}
                    %label.assistive-text{:for => "s"} Search
                    %input#s.field{:name => "s", :placeholder => "Search &hellip;", :type => "text", :value => ""}/
                    %input#searchsubmit.submit{:name => "submit", :type => "submit", :value => "Search"}/
      #footer-push
    / #page-wrapper
    %footer#footer
      .footer-inner.clearfix
        #sharrre-footer.sharrre{"data-buttons-title" => "Share this page", "data-curl" => "http://inthe.me/demo/fluxus/wp-content/themes/fluxus/lib/sharrre.php", "data-services" => "facebook,facebookShare,twitter,googlePlus", "data-title" => "Share", "data-url" => "http://inthe.me/demo/fluxus/features/tab/"}
        .social-networks
          %a.icon-social.icon-facebook-circled{:href => "http://www.facebook.com/hello.intheme", :rel => "nofollow", :target => "_blank", :title => "Connect on Facebook"}
          %a.icon-social.icon-tumblr-circled{:href => "http://tumblr.com/", :rel => "nofollow", :target => "_blank", :title => "Connect on Tumblr"}
          %a.icon-social.icon-twitter-circled{:href => "http://twitter.com/in_theme", :rel => "nofollow", :target => "_blank", :title => "Connect on Twitter"}
        .footer-links
          %nav.footer-navigation
            %ul#menu-footer-menu.menu
              %li#menu-item-477.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-477
                %a{:href => "../../images/index.html"} Images
              %li#menu-item-640.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-640
                %a{:href => "http://themeforest.net/item/fluxus-portfolio-theme-for-photographers/3854385?ref=intheme"} Buy this theme
          .credits © Fluxus Wordpress Theme
        .nav-tip
          Use arrows
          %a#key-left.button-minimal.icon-left-open-mini{:href => "#"}
          %a#key-right.button-minimal.icon-right-open-mini{:href => "#"}
          for navigation
    %script{:src => "../../wp-content/plugins/contact-form-7/includes/js/jquery.form.min61ae.js?fcbd44", :type => "text/javascript"}
    :javascript
      /*  */
      var _wpcf7 = {"loaderUrl":"http:\/\/inthe.me\/demo\/fluxus\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ...","cached":"1"};
      /*  */
    %script{:src => "../../wp-content/plugins/contact-form-7/includes/js/scripts61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-includes/js/underscore.min61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/themes/fluxus/js/jquery.tinyscrollbar61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/themes/fluxus/js/jquery.sharrre61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/themes/fluxus/js/jquery.transit61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/themes/fluxus/js/utils61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/themes/fluxus/js/jquery.fluxus-grid61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/themes/fluxus/js/jquery.reveal61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/themes/fluxus/js/jquery.fluxus-lightbox61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/themes/fluxus/js/iscroll61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/themes/fluxus/js/jquery.fluxus-slider61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/themes/fluxus/js/main61ae.js?fcbd44", :type => "text/javascript"}
    %script{:src => "../../wp-content/themes/fluxus/js/user61ae.js?fcbd44", :type => "text/javascript"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3428741-16']);
      _gaq.push(['_setDomainName', 'inthe.me']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :javascript
      if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:")+"//"+"js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-3.newrelic.com","7732b7c631","1942833","bwMEbRQHCkdXBRFfDVZJJ1oSDwtaGRYEUQc=",0,721,new Date().getTime(),"","","","",""]);
  / Mirrored from inthe.me/demo/fluxus/features/tab/ by HTTrack Website Copier/3.x [XR&amp;CO'2014], Sat, 30 Aug 2014 04:37:24 GMT
/ Served from: inthe.me @ 2014-08-30 04:36:50 by W3 Total Cache
